body {
  background: #12171b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  position: relative;
}

.rotatingHeader {
  width: fit-content;
  white-space: nowrap;
  padding-bottom: 50px;
}

.rotatingHeader h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  color: #444;
  font-size: 100px;
  margin: 0;
  padding: 0;
  line-height: 1;
  perspective: 600px;
}

.rotatingHeader h1:nth-child(2) {
  color: #efefef;
}

h1 div {
  /* border:1px solid red; */
}

.spacer {
  height: 60vh;
}